body, html{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.center-block{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.switch{
    margin: 0 auto;
}

.opacity{
    opacity: .54;
}

.center-margin{
    margin: 0 auto;
}

.chip{
    transition-property: background-color;
    transition-duration: 1s;
}

.chips{
    transition-property: background-color;
    transition-duration: 1s;
    border-bottom: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.disabled{
    background-color: rgb(216, 216, 216);
}